@import compass
@import compass/css3/user-interface
@import variables
@import compass/css3
@import compass/layout
@import compass/typography
@import compass/utilities

@font-face
  font-family: "proximanova"
  src: url('../fonts/proxima-nova/extrabold/proximanova-extrabold.ttf') format('truetype'), url('../fonts/proxima-nova/extrabold/proximanova-extrabold.otf') format('opentype')

@font-face
  font-family: "proximanova"
  src: url('../fonts/proxima-nova/bold/proximanova-semibold.ttf') format('truetype'), url('../fonts/proxima-nova/bold/proximanova-semibold.otf') format('opentype')


/*-----------RESET STYLES-------------*/
*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

a,p
  text-decoration: none

a, button, i, input
  -webkit-transition: 0.2s ease-out
  -moz-transition: 0.2s ease-out
  -o-transition: 0.2s ease-out
  transition: 0.2s ease-out

ul
  list-style: none

div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea
  padding: 0
  margin: 0
  line-height: 1em
/*--------END RESET STYLES------------*/

/*---------RESET BOOTSTRAP STYLES-----*/
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand
  margin: 0
/*-----END RESET BOOTSTRAP STYLES-----*/

/*------------HEADER STYLES-----------*/
.welcome
  min-height: 390px
  background: url("../../images/banner-bg.png") no-repeat
  .header
    border-bottom: 1px solid $border-color

.navbar-header
  h1
    a
      line-height: 100px

.navbar
  border-radius: 0

.navbar-inverse
  padding: 0
  margin: 0
  min-height: 100px
  border: none
  background: transparent
  .navbar-nav
    padding: 0
    li
      margin-right: 40px
      font: 400 14px 'OpenSans', sans-serif
      text-transform: uppercase
      &:last-child
        margin-right: 0
      a
        display: inline
        padding: 0
        text-align: center
        line-height: 100px
        color: $white-color
        &:hover
          color: $yellow-hw
/*---------END HEADER STYLES----------*/

/*------------POST STYLES-------------*/
.posts
  .title
    padding-left: 55px
    h2
      font: 800 30px 'Raleway', sans-serif
      text-transform: uppercase
      color: $title-color
    p
      font: 400 16px 'Lora', sans-serif
      font-style: italic
      color: $title-color

.content
  padding: 100px 0
  .post
    padding: 60px 0 70px 0
    border-bottom: 1px solid $border-grey
    .author-img
      img
        border-radius: 50%
    .post-content
      h2
        margin-bottom: 10px
        a
          font: 700 18px 'Raleway', sans-serif
          text-transform: uppercase
          text-decoration: none
          color: $title-color
      p
        padding-bottom: 40px
        font-family: 'OpenSans', sans-serif
        font-size: 14px
        font-weight: 400
        line-height: 23px
        color: $light-grey
      h4
        margin-bottom: 20px
        font: 700 16px 'Raleway', sans-serif
        text-transform: uppercase
        color: $title-color
      blockquote
        margin-left: 90px
        border-left: 5px solid $yellow-hw
        background: $blockquote-bg
        p
          padding: 0
      .date
        margin-bottom: 30px
        a, span
          font: 600 13px 'ProximaNova', sans-serif
          text-transform: uppercase
          color: $grey-color
      .img-wrap
        margin-bottom: 45px
      .for-user
        margin-top: 60px
        .about-btn-area
          a
            padding: 10px 10px
            font: 700 13px 'Raleway', sans-serif
            text-transform: uppercase
            text-decoration: none
            color: $yellow-hw
            border: 2px solid $yellow-hw
      .admin-info
        margin-top: 70px
        .info
          background: $blue-color
        p, h2>a
          color: $white-color
  .post-single
    .post-content
      p
        padding-bottom: 15px

.social
  span
    padding-top: 15px
    font-weight: 400
    text-transform: uppercase
    color: $light-grey
  .blog-social
    a
      position: relative
      display: inline-block
      margin-left: 5px
      width: 45px
      height: 45px
      border-radius: 50px
      span
        color: $white-color
        &:before
          position: absolute
          left: 50%
          top: 50%
          margin-top: -7px
          margin-left: -5px
    .facebook
      background: $facebook-bg
    .twitter
      background: $twitter-bg
    .google-plus
      background: $google-bg

/*---------END POST STYLES------------*/


/*----------PAGINATION STYLES--------*/
.pag-wrap
  margin-top: 40px
  .page-numbers
    padding: 10px 15px
    font: 400 18px 'OpenSans', sans-serif
    text-transform: uppercase
    text-decoration: none
    color: $dark-grey
    border: 2px solid $dark-grey
  .current
    background: transparent
    color: $yellow-hw
    border: 2px solid $yellow-hw
  .next, .prev
    display: none
/*-------END PAGINATION STYLES-------*/

/*---------CATEGORIES STYLES---------*/
/*------END CATEGORIES STYLES--------*/


/*----------COMMENTS STYLES-----------*/
.comments-area
  .comment-reply-title, .comments-title
    margin-bottom: 30px
    font: 800 30px 'Raleway', sans-serif
    text-transform: uppercase
    color: $title-color

.comments-title
  margin-top: 30px

.comment-list
  .comment
    margin-bottom: 50px
    .comment-author
      display: inline-block
      margin-right: 30px
      float: left
    .comment-meta
      display: flex
      flex-direction: column
      .fn
        margin-bottom: 15px
        font: 400 18px 'Lato', sans-serif
        color: #ccc
      a
        margin-bottom: 25px
        font: 400 14px 'Lato', sans-serif
        color: #ccc
        text-decoration: none
      p
        padding-top: 0
        margin-bottom: 20px
        color: #ccc
      .reply
        a
          position: relative
          padding-left: 20px
          font: 400 14px 'Lato', sans-serif
          color: #ccc
          &:before
            content: ''
            position: absolute
            left: 0
            top: 50%
            margin-top: -7px
            width: 17px
            height: 13px
            background: url("../../images/reply-icon.png") no-repeat


.comment-respond
  margin-top: 50px
  h3
    margin-bottom: 30px
    font: 400 20px 'Lato', sans-serif
    color: #ccc
  label
    margin-bottom: 10px
    font: 700 14px 'OpenSans', sans-serif
    text-transform: uppercase
    color: $comments-color

.post
  .comment-form
    max-width: 640px
    .comment-form-author, .comment-form-email
      padding-top: 0
      input[type=text]
        padding: 5px
        display: block
        border: none
        border-bottom: 1px solid #ccc
    .comment-form-comment
      padding-top: 0
      textarea
        display: block
        width: 100%
        border: none
        border-bottom: 1px solid #ccc
    .form-submit
      padding-top: 30px
      margin-bottom: 0
      input[type=submit]
        padding: 10px 10px
        font: 700 13px 'Raleway', sans-serif
        text-transform: uppercase
        text-decoration: none
        color: $yellow-hw
        border: 2px solid $yellow-hw
        background: transparent

.children
  margin-left: 50px

.login-hidden
  display: none

.logged-in
  .login-hidden
    display: block
/*-------END COMMENTS STYLES---------*/

/*-----------ABOUT STYLES------------*/
.about, .services, .clients, .partners, .news
  padding: 100px 0
  h2
    font: 800 30px 'Raleway', sans-serif
    text-transform: uppercase
    color: $title-color
    span
      display: block
      font: 400 16px 'Lora', sans-serif
      font-style: italic
      text-transform: none
      color: $title-color
  p
    margin-bottom: 30px
    font-family: 'OpenSans', sans-serif
    font-size: 14px
    font-weight: 400
    line-height: 28px
    color: $light-grey
  .about-btn-area
    a
      display: inline-block
      padding: 10px 10px
      font: 700 13px 'Raleway', sans-serif
      text-transform: uppercase
      text-decoration: none
      color: $yellow-hw
      border: 2px solid $yellow-hw

.service-content
  padding-left: 100px
/*--------END ABOUT STYLES-----------*/

/*----------SERVICES STYLES----------*/
.services
  position: relative
  background: $service-bg
  &:before
    content: ''
    position: absolute
    width: 155px
    height: 101px
    bottom: 0
    right: 200px
    background: url("../../images/blue-pyramid-shape.png") no-repeat
  &:after
    content: ''
    position: absolute
    width: 135px
    height: 70px
    bottom: 0
    right: 150px
    background: url("../../images/yellow-pyramid-shape.png") no-repeat
  h2
    margin-bottom: 70px
  ul
    li
      margin-bottom: 60px
      h3
        margin-bottom: 25px
        font: 700 16px 'Raleway', sans-serif
        text-transform: uppercase
        color: $title-color

/*-------END SERVICES STYLES---------*/

/*---------CLIENTS STYLES------------*/
.clients
  h2
    margin-bottom: 30px
  .slider
    #wonderplugincarousel-1 blockquote
      margin: 0 0 20px 0
      padding: 0
      font-family: 'OpenSans', sans-serif
      font-size: 14px
      font-weight: 400
      font-style: normal
      text-align: start
      line-height: 23px
      border-left: none
      color: $light-grey
    #wonderplugincarousel-1 .amazingcarousel-nav
      width: 0

.amazingcarousel-image > div
  display: none !important
/*-------END CLIENTS STYLES----------*/

/*------------NEWS STYLES------------*/
.news
  background: $service-bg
  h2
    margin-bottom: 45px
  .for-news
    h3
      margin: 30px 0
      font: 700 16px 'Raleway', sans-serif
      text-transform: uppercase
      color: $title-color
  .featured
    h2
      margin-bottom: 10px
      a
        font: 700 16px 'Raleway', sans-serif
        text-transform: uppercase
        color: $title-color
    .date
      margin-bottom: 35px
      span
        font: 700 12px 'OpenSans', sans-serif
        text-transform: uppercase
        color: $yellow-hw

/*---------END NEWS STYLES-----------*/

/*---------PARTNERS STYLES-----------*/
.partners
  position: relative
  &:before
    content: ''
    position: absolute
    width: 155px
    height: 101px
    bottom: 0
    right: 200px
    background: url("../../images/blue-pyramid-shape.png") no-repeat
  &:after
    content: ''
    position: absolute
    width: 135px
    height: 70px
    bottom: 0
    right: 150px
    background: url("../../images/yellow-pyramid-shape.png") no-repeat

/*---------PARTNERS STYLES-----------*/

/*-----------FOOTER STYLES-----------*/
.footer
  padding: 80px 0
  background: $footer-bg
  .information
    h2
      margin-bottom: 20px
    .textwidget
      margin-bottom: 40px
      font: 600 13px 'OpenSans', sans-serif
      text-transform: uppercase
      color: $footer-par

.footer-social
  a
    position: relative
    display: inline-block
    margin-right: 5px
    width: 45px
    height: 45px
    border: 1px solid $footer-border
    span
      color: $white-color
      &:before
        position: absolute
        left: 50%
        top: 50%
        margin-top: -7px
        margin-left: -5px
.footer
  .footer-menu
    h2
      margin-bottom: 35px
      font: 700 18px 'Raleway', sans-serif
      text-transform: uppercase
      color: $white-color
    ul
      li
        width: 50%
        border-bottom: 1px solid $footer-border
        a
          position: relative
          padding: 15px 0 15px 25px
          display: inline-block
          font: 400 13px 'OpenSans', sans-serif
          text-transform: uppercase
          text-decoration: none
          color: $footer-par
  .contact-form
    h3
      margin-bottom: 35px
      font: 700 18px 'Raleway', sans-serif
      text-transform: uppercase
      color: $white-color
    .wpcf7
      .wpcf7-form
        input[type=text],input[type=email]
          padding: 10px
          width: 50%
          background: transparent
          border: 1px solid $footer-border
          border-bottom: none
        input[type=text]
          float: left
          border-right: none
        textarea
          margin-bottom: 10px
          padding: 10px
          width: 100%
          background: transparent
          border: 1px solid $footer-border
        input[type=submit]
          padding: 10px
          font: 700 13px 'Raleway', sans-serif
          text-transform: uppercase
          text-decoration: none
          color: $yellow-hw
          border: 2px solid $yellow-hw
          background: transparent


/*--------END FOOTER STYLES----------*/



@import media1200
@import media992
@import media768
@import media320