@font-face {
  font-family: "proximanova";
  src: url("../fonts/proxima-nova/extrabold/proximanova-extrabold.ttf") format("truetype"), url("../fonts/proxima-nova/extrabold/proximanova-extrabold.otf") format("opentype");
}
@font-face {
  font-family: "proximanova";
  src: url("../fonts/proxima-nova/bold/proximanova-semibold.ttf") format("truetype"), url("../fonts/proxima-nova/bold/proximanova-semibold.otf") format("opentype");
}
/*-----------RESET STYLES------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, p {
  text-decoration: none;
}

a, button, i, input {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

ul {
  list-style: none;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

/*--------END RESET STYLES------------ */
/*---------RESET BOOTSTRAP STYLES----- */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin: 0;
}

/*-----END RESET BOOTSTRAP STYLES----- */
/*------------HEADER STYLES----------- */
.welcome {
  min-height: 390px;
  background: url("../../images/banner-bg.png") no-repeat;
}
.welcome .header {
  border-bottom: 1px solid #dde4ea;
}

.navbar-header h1 a {
  line-height: 100px;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse {
  padding: 0;
  margin: 0;
  min-height: 100px;
  border: none;
  background: transparent;
}
.navbar-inverse .navbar-nav {
  padding: 0;
}
.navbar-inverse .navbar-nav li {
  margin-right: 40px;
  font: 400 14px "OpenSans", sans-serif;
  text-transform: uppercase;
}
.navbar-inverse .navbar-nav li:last-child {
  margin-right: 0;
}
.navbar-inverse .navbar-nav li a {
  display: inline;
  padding: 0;
  text-align: center;
  line-height: 100px;
  color: #fff;
}
.navbar-inverse .navbar-nav li a:hover {
  color: #ffaf36;
}

/*---------END HEADER STYLES---------- */
/*------------POST STYLES------------- */
.posts .title {
  padding-left: 55px;
}
.posts .title h2 {
  font: 800 30px "Raleway", sans-serif;
  text-transform: uppercase;
  color: #1c1c1c;
}
.posts .title p {
  font: 400 16px "Lora", sans-serif;
  font-style: italic;
  color: #1c1c1c;
}

.content {
  padding: 100px 0;
}
.content .post {
  padding: 60px 0 70px 0;
  border-bottom: 1px solid #e6e9ee;
}
.content .post .author-img img {
  border-radius: 50%;
}
.content .post .post-content h2 {
  margin-bottom: 10px;
}
.content .post .post-content h2 a {
  font: 700 18px "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #1c1c1c;
}
.content .post .post-content p {
  padding-bottom: 40px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #585858;
}
.content .post .post-content h4 {
  margin-bottom: 20px;
  font: 700 16px "Raleway", sans-serif;
  text-transform: uppercase;
  color: #1c1c1c;
}
.content .post .post-content blockquote {
  margin-left: 90px;
  border-left: 5px solid #ffaf36;
  background: #fef1de;
}
.content .post .post-content blockquote p {
  padding: 0;
}
.content .post .post-content .date {
  margin-bottom: 30px;
}
.content .post .post-content .date a, .content .post .post-content .date span {
  font: 600 13px "ProximaNova", sans-serif;
  text-transform: uppercase;
  color: #757575;
}
.content .post .post-content .img-wrap {
  margin-bottom: 45px;
}
.content .post .post-content .for-user {
  margin-top: 60px;
}
.content .post .post-content .for-user .about-btn-area a {
  padding: 10px 10px;
  font: 700 13px "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffaf36;
  border: 2px solid #ffaf36;
}
.content .post .post-content .admin-info {
  margin-top: 70px;
}
.content .post .post-content .admin-info .info {
  background: #36a8ff;
}
.content .post .post-content .admin-info p, .content .post .post-content .admin-info h2 > a {
  color: #fff;
}
.content .post-single .post-content p {
  padding-bottom: 15px;
}

.social span {
  padding-top: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #585858;
}
.social .blog-social a {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
}
.social .blog-social a span {
  color: #fff;
}
.social .blog-social a span:before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -7px;
  margin-left: -5px;
}
.social .blog-social .facebook {
  background: #496fa5;
}
.social .blog-social .twitter {
  background: #00baef;
}
.social .blog-social .google-plus {
  background: #eb4125;
}

/*---------END POST STYLES------------ */
/*----------PAGINATION STYLES-------- */
.pag-wrap {
  margin-top: 40px;
}
.pag-wrap .page-numbers {
  padding: 10px 15px;
  font: 400 18px "OpenSans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #2a2b2c;
  border: 2px solid #2a2b2c;
}
.pag-wrap .current {
  background: transparent;
  color: #ffaf36;
  border: 2px solid #ffaf36;
}
.pag-wrap .next, .pag-wrap .prev {
  display: none;
}

/*-------END PAGINATION STYLES------- */
/*---------CATEGORIES STYLES--------- */
/*------END CATEGORIES STYLES-------- */
/*----------COMMENTS STYLES----------- */
.comments-area .comment-reply-title, .comments-area .comments-title {
  margin-bottom: 30px;
  font: 800 30px "Raleway", sans-serif;
  text-transform: uppercase;
  color: #1c1c1c;
}

.comments-title {
  margin-top: 30px;
}

.comment-list .comment {
  margin-bottom: 50px;
}
.comment-list .comment .comment-author {
  display: inline-block;
  margin-right: 30px;
  float: left;
}
.comment-list .comment .comment-meta {
  display: flex;
  flex-direction: column;
}
.comment-list .comment .comment-meta .fn {
  margin-bottom: 15px;
  font: 400 18px "Lato", sans-serif;
  color: #ccc;
}
.comment-list .comment .comment-meta a {
  margin-bottom: 25px;
  font: 400 14px "Lato", sans-serif;
  color: #ccc;
  text-decoration: none;
}
.comment-list .comment .comment-meta p {
  padding-top: 0;
  margin-bottom: 20px;
  color: #ccc;
}
.comment-list .comment .comment-meta .reply a {
  position: relative;
  padding-left: 20px;
  font: 400 14px "Lato", sans-serif;
  color: #ccc;
}
.comment-list .comment .comment-meta .reply a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  width: 17px;
  height: 13px;
  background: url("../../images/reply-icon.png") no-repeat;
}

.comment-respond {
  margin-top: 50px;
}
.comment-respond h3 {
  margin-bottom: 30px;
  font: 400 20px "Lato", sans-serif;
  color: #ccc;
}
.comment-respond label {
  margin-bottom: 10px;
  font: 700 14px "OpenSans", sans-serif;
  text-transform: uppercase;
  color: #757c81;
}

.post .comment-form {
  max-width: 640px;
}
.post .comment-form .comment-form-author, .post .comment-form .comment-form-email {
  padding-top: 0;
}
.post .comment-form .comment-form-author input[type=text], .post .comment-form .comment-form-email input[type=text] {
  padding: 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
}
.post .comment-form .comment-form-comment {
  padding-top: 0;
}
.post .comment-form .comment-form-comment textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}
.post .comment-form .form-submit {
  padding-top: 30px;
  margin-bottom: 0;
}
.post .comment-form .form-submit input[type=submit] {
  padding: 10px 10px;
  font: 700 13px "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffaf36;
  border: 2px solid #ffaf36;
  background: transparent;
}

.children {
  margin-left: 50px;
}

.login-hidden {
  display: none;
}

.logged-in .login-hidden {
  display: block;
}

/*-------END COMMENTS STYLES--------- */
/*-----------ABOUT STYLES------------ */
.about, .services, .clients, .partners, .news {
  padding: 100px 0;
}
.about h2, .services h2, .clients h2, .partners h2, .news h2 {
  font: 800 30px "Raleway", sans-serif;
  text-transform: uppercase;
  color: #1c1c1c;
}
.about h2 span, .services h2 span, .clients h2 span, .partners h2 span, .news h2 span {
  display: block;
  font: 400 16px "Lora", sans-serif;
  font-style: italic;
  text-transform: none;
  color: #1c1c1c;
}
.about p, .services p, .clients p, .partners p, .news p {
  margin-bottom: 30px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #585858;
}
.about .about-btn-area a, .services .about-btn-area a, .clients .about-btn-area a, .partners .about-btn-area a, .news .about-btn-area a {
  display: inline-block;
  padding: 10px 10px;
  font: 700 13px "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffaf36;
  border: 2px solid #ffaf36;
}

.service-content {
  padding-left: 100px;
}

/*--------END ABOUT STYLES----------- */
/*----------SERVICES STYLES---------- */
.services {
  position: relative;
  background: #eaeff3;
}
.services:before {
  content: "";
  position: absolute;
  width: 155px;
  height: 101px;
  bottom: 0;
  right: 200px;
  background: url("../../images/blue-pyramid-shape.png") no-repeat;
}
.services:after {
  content: "";
  position: absolute;
  width: 135px;
  height: 70px;
  bottom: 0;
  right: 150px;
  background: url("../../images/yellow-pyramid-shape.png") no-repeat;
}
.services h2 {
  margin-bottom: 70px;
}
.services ul li {
  margin-bottom: 60px;
}
.services ul li h3 {
  margin-bottom: 25px;
  font: 700 16px "Raleway", sans-serif;
  text-transform: uppercase;
  color: #1c1c1c;
}

/*-------END SERVICES STYLES--------- */
/*---------CLIENTS STYLES------------ */
.clients h2 {
  margin-bottom: 30px;
}
.clients .slider #wonderplugincarousel-1 blockquote {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: start;
  line-height: 23px;
  border-left: none;
  color: #585858;
}
.clients .slider #wonderplugincarousel-1 .amazingcarousel-nav {
  width: 0;
}

.amazingcarousel-image > div {
  display: none !important;
}

/*-------END CLIENTS STYLES---------- */
/*------------NEWS STYLES------------ */
.news {
  background: #eaeff3;
}
.news h2 {
  margin-bottom: 45px;
}
.news .for-news h3 {
  margin: 30px 0;
  font: 700 16px "Raleway", sans-serif;
  text-transform: uppercase;
  color: #1c1c1c;
}
.news .featured h2 {
  margin-bottom: 10px;
}
.news .featured h2 a {
  font: 700 16px "Raleway", sans-serif;
  text-transform: uppercase;
  color: #1c1c1c;
}
.news .featured .date {
  margin-bottom: 35px;
}
.news .featured .date span {
  font: 700 12px "OpenSans", sans-serif;
  text-transform: uppercase;
  color: #ffaf36;
}

/*---------END NEWS STYLES----------- */
/*---------PARTNERS STYLES----------- */
.partners {
  position: relative;
}
.partners:before {
  content: "";
  position: absolute;
  width: 155px;
  height: 101px;
  bottom: 0;
  right: 200px;
  background: url("../../images/blue-pyramid-shape.png") no-repeat;
}
.partners:after {
  content: "";
  position: absolute;
  width: 135px;
  height: 70px;
  bottom: 0;
  right: 150px;
  background: url("../../images/yellow-pyramid-shape.png") no-repeat;
}

/*---------PARTNERS STYLES----------- */
/*-----------FOOTER STYLES----------- */
.footer {
  padding: 80px 0;
  background: #2a2b2c;
}
.footer .information h2 {
  margin-bottom: 20px;
}
.footer .information .textwidget {
  margin-bottom: 40px;
  font: 600 13px "OpenSans", sans-serif;
  text-transform: uppercase;
  color: #8e8e8e;
}

.footer-social a {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  width: 45px;
  height: 45px;
  border: 1px solid #373839;
}
.footer-social a span {
  color: #fff;
}
.footer-social a span:before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -7px;
  margin-left: -5px;
}

.footer .footer-menu h2 {
  margin-bottom: 35px;
  font: 700 18px "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.footer .footer-menu ul li {
  width: 50%;
  border-bottom: 1px solid #373839;
}
.footer .footer-menu ul li a {
  position: relative;
  padding: 15px 0 15px 25px;
  display: inline-block;
  font: 400 13px "OpenSans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #8e8e8e;
}
.footer .contact-form h3 {
  margin-bottom: 35px;
  font: 700 18px "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.footer .contact-form .wpcf7 .wpcf7-form input[type=text], .footer .contact-form .wpcf7 .wpcf7-form input[type=email] {
  padding: 10px;
  width: 50%;
  background: transparent;
  border: 1px solid #373839;
  border-bottom: none;
}
.footer .contact-form .wpcf7 .wpcf7-form input[type=text] {
  float: left;
  border-right: none;
}
.footer .contact-form .wpcf7 .wpcf7-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  background: transparent;
  border: 1px solid #373839;
}
.footer .contact-form .wpcf7 .wpcf7-form input[type=submit] {
  padding: 10px;
  font: 700 13px "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffaf36;
  border: 2px solid #ffaf36;
  background: transparent;
}

/*--------END FOOTER STYLES---------- */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }

  /*------------HEADER STYLES----------- */
  /*---------END HEADER STYLES---------- */
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }

  /*------------HEADER STYLES----------- */
  /*--------END HEADER STYLES---------- */
  /*-----------SLIDER STYLES------------ */
  /*--------END SLIDER STYLES----------- */
  /*------------POST STYLES------------- */
  /*---------END POST STYLES------------ */
  /*----------SIDEBAR STYLES----------- */
  /*--------END SIDEBAR STYLES--------- */
  /*-----------CONTACT STYLES---------- */
  /*--------END CONTACT STYLES--------- */
  /*-----------FOOTER STYLES----------- */
  /*--------END FOOTER STYLES---------- */
}
@media (max-width: 767px) {
  .container {
    width: 300px;
  }

  /*------------HEADER STYLES----------- */
  /*---------END HEADER STYLES---------- */
  /*-----------SLIDER STYLES------------ */
  /*--------END SLIDER STYLES----------- */
  /*------------POST STYLES------------- */
  /*---------END POST STYLES------------ */
  /*----------SIDEBAR STYLES----------- */
  /*--------END SIDEBAR STYLES--------- */
  /*-----------CONTACT STYLES---------- */
  /*--------END CONTACT STYLES--------- */
  /*-----------FOOTER STYLES----------- */
  /*--------END FOOTER STYLES---------- */
}
